.title_services {
  display: flex;
  align-items: center;
  justify-content: center;

}

.title_services p {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 3rem;
  color: #FFA046;
}

.content {
  padding: 0 20px;
}

@media screen and (max-width: 787px) {
  .content {
    padding: 0;
  }

}

.contnedor_services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3.5rem;
  height: 100vh;

}

.items {
  border-radius: 15px;
  /* background-image: linear-gradient(to bottom, #e55d51, #ea6e47, #ec813e, #eb9337, #e7a633); */
  background-image: linear-gradient(to bottom, #e55d51, #e6604f, #e7634d, #e8674b, #e96a49, #ea7046, #eb7643, #ec7c40, #ec863b, #eb9137, #ea9b34, #e7a633);
  /* background-color: #e97555; */
  /* background-image: linear-gradient(to top, #e0bd3dda, #e7a633da, #eb8e31da, #ec7637da, #e95c40da); */
  width: 350px;
  height: 350px;
  box-shadow: 0 5px 15px 6px rgba(0, 0, 0, 0.25);
}

.item-title {
  background-image: linear-gradient(to right, #fc8662, #f5795c, #ed6b56, #e55d51, #dd4f4c);
  text-align: center;
  padding: 15px 0;
  color: white;
  border-radius: 15px;
  text-transform: uppercase;
  font-size: 1.9rem;
  font-weight: 600;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.75);
}

.item ul {
  padding: 20px 20px 0 40px;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  list-style-type: disc;
}

@media screen and (max-width: 650px) {
  .title_services p {
    font-size: 2rem;
    text-align: center;
    padding-top: 3rem;

  }
}